<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="service.CCalculator" behaviorConfiguration="MEXGET">
        <host>
          <baseAddresses>
            <add baseAddress="http://145.93.251.133:8000/calculatorservice"/>
          </baseAddresses>
        </host>
        <!-- this eindpoint is exposed at the base address provided by host: http://145.93.251.133/calculatorService -->
        <endpoint address="" binding="wsHttpBinding" contract="MyCalculatorContract.ICalculator" />
        <!-- this max eindpoint is exposed at http://145.93.251.133/calculatorservice/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfiguration">
          <security mode ="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="MEXGET">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>